* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  /* background-image: linear-gradient(-90deg, #2374ab, #ffffff, white); */
}

#cd2{
  display: none;
}

#cd1:hover #cd2{
  display: block;
}
/* #cards:hover{
  overflow: visible!important;
 
} */

#home_sessions {
  background-image: url("./images/front.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  position: relative;
}

#home_sessions .home_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 150px 0 150px 150px;
}
.img_div {
  height: 60vh;
  overflow: hidden;
}

.first_button {
  position: absolute;
  bottom: 20px;
  width: 150px;
  right: 700px;
  padding: 10px 0;
  border-radius: 50px;
  display: none;
}

.about_us_img {
  background-image: url("./images/about.jpg");
}
.about_us {
  background-color: rgba(255, 192, 203, 0.068);
  /* opacity: 0.9; */
  font-weight: bold;
  color: teal !important;
  box-shadow: 10px 10px 20px teal, -10px -10px 20px aliceblue;
  border-radius: 7%;
}
.jumbos {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61JL1J+6btL.jpg");
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.join {
  border: 2px solid white;
  border-radius: 50%;
  padding: 40px 17px;
  font-weight: normal;
  color: white;
  font-size: 1.2rem;
}
/* h1 {
  font-family: "Tangerine", cursive;
} */

hr {
  border: 1px solid white;
  margin-bottom: 40px;
}

.event_divider {
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0);
}

li {
  list-style-type: none;
}

.group_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.wak_intro {
  justify-content: center;
  align-content: space-between;
}

.update,
.register,
.donate,
.membership {
  background-color: aqua;
  color: #ffffff;
  border-color: #095b92;
  border-radius: 50px;
}

.team {
  box-shadow: seagreen;
}

.membership {
  margin-top: 610px;
  width: 20%;
  font-weight: 600;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.update,
.register,
.donate:hover {
  background-color: rgba(165, 42, 42, 0.192);
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.first_card {
  height: 100%;
  width: 100%;
  position: relative;
  color: #ffffff;
  transform: translateY(-1200px);
  animation: animate1 1s forwards ease-in 2s;
}
.second_card {
  height: 100%;
  width: 100%;
  position: relative;
  color: #ffffff;
  transform: translateY(-1200px);
  animation: animate1 1s forwards ease-in 3s;
}
.third_card {
  height: 100%;
  width: 100%;
  position: relative;
  color: #ffffff;
  transform: translateY(-1200px);
  animation: animate1 1s forwards ease-in 4s;
}

.fourth_card {
  height: 100%;
  width: 100%;
  position: relative;
  color: #ffffff;
  transform: translateY(-1200px);
  animation: animate1 1s forwards ease-in 5s;
}
@keyframes animate1 {
  to {
    transform: translateY(0);
    transform: matrix(1, -0.3, 0, 1, 0, 0);
  }
}

.first_card,
.second_card,
.third_card,
.fourth_card:hover {
  background-color: tomato;
}
.values {
  overflow: hidden;
  object-fit: contain;
  position: relative;
}
.register,
.donate {
  position: absolute;
  bottom: 5px;
  left: 50px;
}

.navigation {
  background-color: teal;
  border: 1px solid rgba(1, 1, 15, 0.157);
  padding: 4px 16px;
  /* height: 70px; */
  min-height: 70px;
}

.nav-link {
  font-size: 1.4rem !important;
  color: #ffffff !important;
}
Nav.nav-link Link {
  margin-left: 500px !important;
}

.img-carousel {
  width: 40%;
  height: 500px;
  object-fit: cover;
}

event_div {
  position: relative;
}

event_button {
  position: absolute;
  top: 0;
}

.event_title {
  color: white;
  font-weight: 900;
  font-size: 2rem;
  filter: brightness(100%);
}

p.event_title:hover {
  text-decoration: none;
}
.event_date {
  font-size: 1.5rem;
}

div.event_img img {
  width: 80%;
  height: 80%;
}

#main_img:hover {
  width: 100%;
}

.test {
  color: aqua;
  text-shadow: 0 12px 12px -12px yellow;
}

.vision_1 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 1s;
  font-weight: 800;
  color: teal;
}

.vision_2 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 2s;
  font-weight: 800;
  color: teal;
}
.vision_3 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 3s;
  font-weight: 800;
  color: teal;
}
.vision_4 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 4s;
  font-weight: 800;
  color: teal;
}
.vision_5 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 5s;
  font-weight: 800;
  color: teal;
}
.vision_6 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 6s;
  font-weight: 800;
  color: teal;
}

@keyframes animate2 {
  to {
    transform: translateY(0);
  }
}

#values_section {
  background-image: url("https://i.pinimg.com/originals/51/d8/1f/51d81f3597b1f29fede758245ba87101.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  position: relative;
  background-position: top left;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    background-position: center;
  }
}

#values_section .dark_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 150px 0 150px 150px;
}

footer {
  border: 1px solid rgba(1, 1, 15, 0.157);
  background-color: black;
  font-size: 1.2 rem;
  background-color: teal;
}
ul li {
  font-size: 1.4rem;
}
/* ul li:hover {
  color: red;
} */
.pics_container {
  /* background-color: rgb(19, 13, 13) ; */
  background-color: rgb(117, 0, 0) !important;
}
#contact_img_section {
  background-image: url("./images/contact.JPG");
  background-image: url("./images/contact2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: right;
  height: 60vh;
  width: 50vw;
  justify-content: end;
  object-fit: cover;
  /* min-height: 700px; */
  /* filter: grayscale(); */
  position: relative;
  transition: 5s;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation: contact1 20s infinite;
}
@keyframes contact1 {
  0% {
    background-image: url("./images/about.jpg");
  }
  10% {
    background-image: url("./bg.jpg");
  }
  20% {
    background-image: url("./images/pic4.jpg");
  }
  30% {
    background-image: url("./images/contact.JPG");
  }
  40% {
    background-image: url("./images/coach.jpg");
  }
  50% {
    background-image: url("./images/medal.jpg");
  }

  60% {
    background-image: url("./images/crew.jpg");
  }
  70% {
    background-image: url("./images/team.jpg");
  }
  80% {
    background-image: url("./images/training.jpg");
  }
  90% {
    background-image: url("./images/training2.jpg");
  }
  95% {
    background-image: url("./images/training4.jpg");
  }
  100% {
    background-image: url("./images/training3.jpg");
  }
}

#contact_img_section.img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

.fa_icon {
  color: #ffffff;
  padding: 10px;
  border-radius: 100%;
}

.sponsor_img {
  max-height: 20%;
  max-width: 18%;
  cursor: pointer;
  object-fit: contain;
}

.kids_profile,
.foot_img,
.basket_img {
  height: 300px;
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.kids_profile img,
.foot_img img .basket_img img {
  cursor: pointer;
  width: 30rem;
  height: auto;
  object-fit: contain;
  background-position: center;
}

.read_more {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  border: 1px solid blue;
}
.read_more:hover {
  background-color: black;
  border: 2px solid rgb(38, 54, 5);
  transform: scalez(0.5);
}
.staff_section {
  min-height: 1200px;
  overflow: hidden;
  /* background-color: rgb(19, 13, 13); */
  background-color: teal;
}

#staff_1 img,
#staff_2 img,
#staff_3 img,
#staff_4 img {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  height: 50vh !important;
}

.staff_row {
  margin-left: 200px;
}

.staff_profile {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.staff_profile p,
h4 {
  font-size: 1.2rem;
  color: white;
}

.staff_button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  border: 1px solid blue;
}
.staff_button:hover {
  background-color: whitesmoke;
  opacity: 0.6;
  border: 2px solid rgb(38, 54, 5);
}
#activities_section {
  /* background-color: teal; */
  background-color: gray;
  opacity: 0.9;

  color: black;
  border-radius: 20px;
}

#register_section {
  /* margin-top: 300px; */
  margin-bottom: 150px;
  width: 50% !important;
  background-image: linear-gradient(teal, white) !important;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  display: block;
  flex-direction: column;
  padding: 50px 150px;
}

.register_form {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.register_input {
  border-radius: 10%;
}

.not_found {
  background-image: url("https://image.freepik.com/free-vector/blue-smoke-isolated-dark-transparent-background-realistic-blue-magic-mist-cloud-chemical-toxic-gas-steam-waves-realistic-illustration_119445-264.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 1200px;
}

/* ul li {
  color: white;
} */

#post {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.6881127450980392) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.fa_about {
  color: white;
}

/* kids session */
#kids_sessions {
  background-image: url("./images/kids.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 670px;
  position: relative;
}

#kids_sessions .img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 150px 0 150px 150px;
}

.more_instructions {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300px;
  letter-spacing: 0;
  line-height: 1.5;
  margin-bottom: 20px;
}

#rules li {
  list-style-type: square !important;
}
Card{
  border: none;
}

/* media queries */
/* smart phones */
@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }
  .wak_intro > h1 {
    font-size: 0.9rem;
    font-weight: bold;
  }
  div.wak_intro p {
    font-size: 0.7rem !important;
  }

  .jumbo {
    height: 48vh;
    min-width: 100vw !important;
    object-fit: cover;
  }

  .first_button {
    width: 120px;
    border-radius: 10px;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
    bottom: 0;
    border: 0;
    text-align: center;
    margin-bottom: 10px;
    right: 130px;
    font-size: 1.4rem;
  }

  input.event_form {
    text-align: center;
  }
  #values_section {
    display: none;
  }

  .kids_profile,
  .foot_img,
  .basket_img {
    height: 300px;
    width: 320px;
    overflow: hidden;
  }

  .kids_profile img,
  .foot_img img .basket_img img {
    width: 20rem;
    height: auto;
  }
  #staff_1,
  #staff_2,
  #staff_3,
  #staff_4 {
    justify-content: center;
    align-self: center;
    flex-direction: column;
    height: 30% !important;
  }

  .staff_profile p,
  h4 {
    font-size: 0.9rem;
  }

  button.staff_button {
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 100px;
    padding: 5px 0;
  }

  .read_more {
    width: 100px;
    font-size: 1.2rem;
    padding: 5px 0;
  }
  .read_more:first-of-type {
    margin-bottom: -70px;
  }

  #activities_section {
    /* margin-right: -80px; */
    justify-content: center;
  }
  .activities_corner {
    font-size: 1rem !important;
  }

  .activities_heading {
    font-size: 1.6rem;
  }

  .sponsors {
    font-size: 1.5rem;
  }

  .sponsor_img {
    max-height: 12%;
    max-width: 15%;
    cursor: pointer;
    object-fit: contain;
  }
  .img_overlay {
    display: none;
    height: 10vh;
  }

  div.footer_item {
    margin-left: 75px;
  }
  /* .contact-link::after {
    content: evebabe2006 @yahoo.com;
  } */
  body {
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
  }

  .event_description {
    font-size: 0.8rem !important;
    color: black !important;
  }
  .event_img img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    overflow: hidden;
  }
  h1.evt_title {
    font-size: 1.5 rem !important;
  }

  .news_img {
    display: block;
    min-width: 100%;
    min-height: 100%;
  }
  .news_description {
    font-size: 1.2rem;
  }

  .register_input {
    width: 100%;
    background-color: transparent;
    border: 2px solid white;
    font-weight: 100;
    justify-content: center;
    align-items: center;
  }

  #register_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 500px !important;
    height: 100%register_input;
  }
  .abtimg {
    height: 95%;
    width: 80%;
    object-fit: cover;
    overflow: hidden;
  }
}

/* tablets */
@media (min-width: 501px) and (max-width: 768px) {
  .wak_intro > h1 {
    font-size: 2rem;
    font-weight: bold;
    color: green !important;
  }
  div.wak_intro p {
    font-size: 1.6rem !important;
  }
  .about_wak h4,
  p {
    font-size: 1.8rem;
  }
  .jumbo {
    height: 48vh;
    min-width: 100vw;
    object-fit: cover;
  }

  .first_button {
    width: 250px;
    padding: 20px;
    border-radius: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
    bottom: 20px;
    right: 250px;
    border-radius: 10px;
    font-size: 1.9rem;
  }

  /* carousel */

  .abtimg {
    height: 95%;
    width: 80%;
    object-fit: cover;
    overflow: hidden;
  }

  .event_title {
    font-size: 2rem;
  }
  .event_date {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .activities_intro {
    font-size: 3.5rem;
  }
  .fourth_card {
    display: none;
  }
  .first_card,
  .second_card,
  .third_card {
    max-width: 8rem;
  }

  input.event_form {
    text-align: center;
  }
  #values_section {
    display: block;
  }

  #activities_section {
    /* margin-right: -80px; */
    justify-content: center;
  }
  .activities_corner {
    font-size: 1.8rem !important;
    color: black;
  }
  .kids_profile,
  .foot_img,
  .basket_img {
    border-radius: 10px;
  }

  .activities_heading {
    font-size: 2rem !important;
  }

  #staff_1,
  #staff_2,
  #staff_3,
  #staff_4 {
    margin-bottom: 40px;
    width: 80%;
  }
  .sponsors {
    font-size: 1.5rem;
  }

  .sponsor_img {
    max-height: 12%;
    max-width: 15%;
    cursor: pointer;
    object-fit: contain;
  }
  .img_overlay {
    height: 10vh;
  }

  /* .contact-link::after {
    content: evebabe2006 @yahoo.com;
  } */
  body {
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
  }

  .event_description {
    font-size: 1.5rem !important;
    color: black !important;
  }
  .event_img img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    overflow: hidden;
  }
  h1.evt_title {
    font-size: 1.5 rem !important;
  }
  div.evt_des {
    margin-bottom: 40px;
  }

  div.evt_des p {
    font-size: 1.5rem;
  }

  .enquiry {
    font-size: 1rem;
  }
  /* input[value=textArea]{
    padding: 0;
    background-color: black;
  } */
  .tel {
    display: none;
  }
  .news_img {
    display: block;
    min-width: 100%;
    min-height: 100%;
  }
}
