* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  /* background-image: linear-gradient(-90deg, #2374ab, #ffffff, white); */
}

.jumbo {
  background-image: url("./bg.jpg");
  background-image: url("./images/front.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 100%;
  position: relative;
}

.first_button {
  position: absolute;
  bottom: 20px;
  width: 150px;
  margin-right: 150px;
  padding: 10px 0;
  border-radius: 50px;
}
.about_us_img {
  background-image: url("./images/about.jpg");
}
.about_us {
  background-color: rgba(255, 192, 203, 0.068);
  /* opacity: 0.9; */
  font-weight: bold;
  color: teal !important;
  box-shadow: 10px 10px 20px teal, -10px -10px 20px aliceblue;
  border-radius: 7%;
}
.jumbos {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61JL1J+6btL.jpg");
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.join {
  border: 2px solid white;
  border-radius: 50%;
  padding: 40px 17px;
  font-weight: normal;
  color: white;
  font-size: 1.2rem;
}

hr {
  border: 1px solid white;
  margin-bottom: 40px;
}

.event_divider {
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0);
}

ul li {
  list-style-type: none;
}

.group_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.wak_intro {
  justify-content: center;
  align-content: space-between;
}

.update,
.register,
.donate,
.membership {
  background-color: aqua;
  color: #ffffff;
  border-color: #095b92;
  border-radius: 50px;
}

.team {
  box-shadow: seagreen;
}

.membership {
  margin-top: 610px;
  width: 20%;
  font-weight: 600;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.update,
.register,
.donate:hover {
  background-color: rgba(165, 42, 42, 0.192);
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.first_card {
  height: 100%;
  width: 100%;
  position: relative;
  color: #ffffff;
  transform: translateY(-1200px);
  animation: animate1 1s forwards ease-in 2s;

  /* transform: rotate(-20deg); */
  /* transform: matrix(1, -0.3, 0, 1, 0, 0); */
}
.second_card {
  height: 100%;
  width: 100%;
  position: relative;
  color: #ffffff;
  transform: translateY(-1200px);
  animation: animate1 1s forwards ease-in 3s;
  /* transform: rotate(-20deg); */
  /* transform: matrix(1, -0.3, 0, 1, 0, 0); */
}
.third_card {
  height: 100%;
  width: 100%;
  position: relative;
  color: #ffffff;
  transform: translateY(-1200px);
  animation: animate1 1s forwards ease-in 4s;
  /* transform: rotate(-20deg); */
  /* transform: matrix(1, -0.3, 0, 1, 0, 0); */
}

.fourth_card {
  height: 100%;
  width: 100%;
  position: relative;
  color: #ffffff;
  transform: translateY(-1200px);
  animation: animate1 1s forwards ease-in 5s;
  /* transform: rotate(-20deg); */
  /* transform: matrix(1, -0.3, 0, 1, 0, 0);  */
}
@keyframes animate1 {
  to {
    transform: translateY(0);
    transform: matrix(1, -0.3, 0, 1, 0, 0);
  }
}

.first_card,
.second_card,
.third_card,
.fourth_card:hover {
  background-color: tomato;
}
.values {
  overflow: hidden;
  object-fit: contain;
  position: relative;
}
.register,
.donate {
  position: absolute;
  bottom: 5px;
  left: 50px;
}

.navigation {
  background-color: teal;
  /* background-image: linear-gradient(-90deg, #2374ab, #ffffff, white);  */
  border: 1px solid rgba(1, 1, 15, 0.157);
}

.img-carousel {
  width: 40%;
  height: 500px;
  object-fit: cover;
}

event_div {
  position: relative;
}

event_button {
  position: absolute;
  top: 0;
}

.event_title {
  color: green;
  font-weight: 900;
  text-decoration: none;
}

.event_img img {
  width: 80%;
  height: 80%;
}

#main_img {
  transition: width 2s ease-in-out 1s;
}
#main_img:hover {
  width: 300px;
  height: 100%;
}

.test {
  color: aqua;
  text-shadow: 0 12px 12px -12px yellow;
}

.vision_1 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 1s;
  font-weight: 800;
  color: teal;
}

.vision_2 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 2s;
  font-weight: 800;
  color: teal;
}
.vision_3 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 3s;
  font-weight: 800;
  color: teal;
}
.vision_4 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 4s;
  font-weight: 800;
  color: teal;
}
.vision_5 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 5s;
  font-weight: 800;
  color: teal;
}
.vision_6 {
  transform: translateY(-1200px);
  animation: animate2 1s forwards ease-in 6s;
  font-weight: 800;
  color: teal;
}

@keyframes animate2 {
  to {
    transform: translateY(0);
  }
}

.nav-link {
  color: #ffffff !important;
  font-size: 1.2rem;
}

#values_section {
  background-image: url("https://i.pinimg.com/originals/51/d8/1f/51d81f3597b1f29fede758245ba87101.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  position: relative;
  background-position: top left;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    background-position: center;
  }
}

#values_section .dark_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 150px 0 150px 150px;
}

#staff_1 {
  background: url("https://scontent.fume1-1.fna.fbcdn.net/v/t31.0-8/904757_10152024235558996_327888442_o.jpg?_nc_cat=100&_nc_sid=174925&_nc_ohc=DIByOw8FMxcAX9Kftul&_nc_ht=scontent.fume1-1.fna&oh=80a1a34a08ca50878a0078a771f2341d&oe=5F8935C2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  object-fit: contain;
  min-height: 400px;
}
#staff_2 {
  background: url("https://scontent.fume1-1.fna.fbcdn.net/v/t31.0-8/920723_286412858160540_1399172526_o.jpg?_nc_cat=103&_nc_sid=174925&_nc_ohc=wnM_n-uve8MAX8AqN4x&_nc_oc=AQm_1KnSD4g8NyvM15Dm2inIimSCqtmXXYZyaxRh0-qgPE0R7un7JiljsOCVte9Klr4&_nc_ht=scontent.fume1-1.fna&oh=e696a9606927dee5aa300831671db0e4&oe=5F8B233A");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  object-fit: cover;
  min-height: 400px;
}
#staff_3 {
  background: url("https://scontent.fume1-1.fna.fbcdn.net/v/t31.0-8/244222_217198188310878_2538104_o.jpg?_nc_cat=108&_nc_sid=de6eea&_nc_ohc=o0fwlJsXVzYAX_q-QPY&_nc_ht=scontent.fume1-1.fna&oh=51daab79f2c6ba425c69f4f9862f3290&oe=5F8A42F5");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  object-fit: cover;
  overflow: hidden;
  min-height: 400px;
}
#staff_4 {
  background: url("https://scontent.fume1-1.fna.fbcdn.net/v/t1.0-9/50272027_237792143806248_3059270458655375360_o.jpg?_nc_cat=105&_nc_sid=174925&_nc_ohc=PEjDohSk2j0AX8B1KlS&_nc_ht=scontent.fume1-1.fna&oh=51d591a34551d9319e9cbc87ab53f918&oe=5F8C8D91");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  object-fit: cover;
  overflow: hidden;
  min-height: 400px;
  background-color: red;
}
footer {
  border: 1px solid rgba(1, 1, 15, 0.157);
  background-color: teal;
  font-size: 1.8 rem;
}

#contact_img_section {
  background-image: url("./images/contact.JPG");
  background-image: url("./images/contact2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  min-height: 700px;
  position: relative;
}

#contact_img_section.img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

.fa_icon {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 10px;
  background-color: black;
  border-radius: 100%;
  border: 2px solid red;
}

.sponsor_img {
  max-height: 20%;
  max-width: 18%;
  cursor: pointer;
  object-fit: contain;
}

.kids_profile img {
  width: 100%;
  height: 50vh;
  object-fit: contain;
  overflow: hidden;
}

.foot_img img {
  width: 100%;
  height: 50vh;
  object-fit: contain;
  overflow: auto;
}
.basket_img {
  width: 20vw;
  height: 50vh;
  object-fit: contain;
  overflow: hidden;
}

.read_more {
  padding: 8px 5px;
  border-radius: 5px;
  opacity: 0.9;
  color: gold;
  background-color: transparent;
}
.read_more:hover {
  background-color: greenyellow;
  opacity: 0.5;
  transform: scalez(0.5);
}
#activities_section {
  /* box-shadow: 10px 10px 20px teal, -10px -10px 20px aliceblue; */
  background-color: teal;
  border-radius: 20px;
}

#register_section {
  /* margin-top: 300px; */
  margin-bottom: 150px;
  width: 50% !important;
  background-image: linear-gradient(teal, white) !important;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  display: block;
  flex-direction: column;
  padding: 50px 150px;
}

.register_form {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.register_input {
  border-radius: 10%;
}

.not_found {
  background-image: url("https://image.freepik.com/free-vector/blue-smoke-isolated-dark-transparent-background-realistic-blue-magic-mist-cloud-chemical-toxic-gas-steam-waves-realistic-illustration_119445-264.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 1200px;
}

ul li {
  color: white;
}

/* media queries */
/* smart phones */
@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }
  .wak_intro > h1 {
    font-size: 0.9rem;
    font-weight: bold;
  }
  div.wak_intro p {
    font-size: 0.7rem !important;
  }

  .jumbo {
    height: 48vh;
    min-width: 100vw;
    object-fit: cover;
  }

  .first_button {
    width: 100px;
    padding: 0;
    border-radius: 10px;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
    bottom: 0;
    border: 0;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 90px;
  }

  input.event_form {
    text-align: center;
  }
  #values_section {
    display: none;
  }
  div.kids_profile img {
    min-width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  div.foot_img img {
    max-width: 100%;
    object-fit: cover;
  }

  .basket_img {
    min-width: 100%;
    object-fit: cover;
  }

  #activities_section {
    /* margin-right: -80px; */
    justify-content: center;
  }
  .activities_corner {
    font-size: 1rem !important;
  }

  .activities_heading {
    font-size: 1.6rem;
  }

  #staff_1,
  #staff_2,
  #staff_3,
  #staff_4 {
    margin-bottom: 40px;
    width: 80%;
  }
  .sponsors {
    font-size: 1.5rem;
  }

  .sponsor_img {
    max-height: 12%;
    max-width: 15%;
    cursor: pointer;
    object-fit: contain;
  }
  .img_overlay {
    display: none;
    height: 10vh;
  }

  div.footer_item {
    margin-left: 75px;
  }
  /* .contact-link::after {
    content: evebabe2006 @yahoo.com;
  } */
  body {
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
  }

  .event_description {
    font-size: 0.8rem !important;
    color: black !important;
  }
  .event_img img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    overflow: hidden;
  }
  h1.evt_title {
    font-size: 1.5 rem !important;
  }
}

/* tablets */
@media (min-width: 501px) and (max-width: 768px) {
  .wak_intro > h1 {
    font-size: 1.3rem;
    font-weight: bold;
    color: green !important;
  }
  div.wak_intro p {
    font-size: 0.9rem !important;
  }

  .jumbo {
    height: 48vh;
    max-width: 80vw;
    object-fit: cover;
  }

  Button.first_button {
    width: 250px;
    padding: 20px;
    border-radius: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
    bottom: 0;
    border: 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  /* .first_button:hover{
    background-color: red !important;
    transform: scaleX(1);
  } */

  .event_title {
    font-size: 1.5rem;
  }
  .event_date {
    font-size: 1.2rem;
  }
  .fourth_card {
    display: none;
  }
  .first_card,
  .second_card,
  .third_card {
    max-width: 8rem;
  }

  input.event_form {
    text-align: center;
  }
  #values_section {
    display: block;
  }
  div.kids_profile img {
    min-width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  div.foot_img img {
    max-width: 100%;
    object-fit: cover;
  }

  .basket_img {
    min-width: 100%;
    object-fit: cover;
  }

  #activities_section {
    /* margin-right: -80px; */
    justify-content: center;
  }
  .activities_corner {
    font-size: 1rem !important;
  }

  .activities_heading {
    font-size: 1.6rem;
  }

  #staff_1,
  #staff_2,
  #staff_3,
  #staff_4 {
    margin-bottom: 40px;
    width: 80%;
  }
  .sponsors {
    font-size: 1.5rem;
  }

  .sponsor_img {
    max-height: 12%;
    max-width: 15%;
    cursor: pointer;
    object-fit: contain;
  }
  .img_overlay {
    height: 10vh;
  }

  /* .contact-link::after {
    content: evebabe2006 @yahoo.com;
  } */
  body {
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
  }

  .event_description {
    font-size: 1.5rem !important;
    color: black !important;
  }
  .event_img img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    overflow: hidden;
  }
  h1.evt_title {
    font-size: 1.5 rem !important;
  }
  div.evt_des  {
    margin-bottom: 40px;
  }

  div.evt_des p{
    font-size: 1.5rem;
   
  }

  .enquiry {
    font-size: 1rem;
  }
  /* input[value=textArea]{
    padding: 0;
    background-color: black;
  } */
  .tel {
    display: none;
   
  }
}
